body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
}

.result {
    margin-top: 20px;
}